[Unit]
Description=Platform API
After=network-online.target
Wants=network-online.target

[Service]
User=ubuntu
WorkingDirectory=__REPO_ROOT__/platform-api/api-server
EnvironmentFile=__REPO_ROOT__/platform-api/.env

ExecStart=__REPO_ROOT__/platform-api/api-server/.venv/bin/uvicorn \
    app.main:app \
    --host 0.0.0.0 \
    --port 8000

Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target