# PostgreSQL
POSTGRES_USER=
POSTGRES_PASSWORD=

# Kubernetes
K8S_API_TOKEN=

# Argo CD
ARGOCD_API_TOKEN=

# GitHub
GITHUB_API_TOKEN=

# Vault - future
VAULT_ADDR=
VAULT_ROLE_ID=
VAULT_SECRET_ID=
VAULT_CACERT=
