__pycache__/
*.py[cod]
.venv/
venv/

.env
.env.*
!.env.example

.DS_Store
.idea/
.vscode/

*.log

.terraform/
*.tfstate
*.tfstate.*

platform-api/api-server/config/argocd.yaml
platform-api/api-server/config/clusters.yaml
platform-api/api-server/config/kubernetes.yaml
platform-api/api-server/config/repositories.yaml